<div class="card">
    <h2>Transaction History</h2>
    <div ng-if="transactions.length === 0">No transactions yet.</div>
    
    <ul class="transaction-list">
        <li ng-repeat="trans in transactions" class="transaction-item">
            <div class="transaction-info">
                <span ng-if="trans.senderEmail === currentUser.email">Sent to: {{trans.receiverEmail}}</span>
                <span ng-if="trans.receiverEmail === currentUser.email">Received from: {{trans.senderEmail}}</span>
                <span class="trans-date">{{trans.date | date:'medium'}}</span>
            </div>
            <div class="trans-amount" ng-class="{'trans-sent': trans.senderEmail === currentUser.email, 'trans-received': trans.receiverEmail === currentUser.email}">
                {{trans.senderEmail === currentUser.email ? '-' : '+'}} {{trans.amount}} Coins
            </div>
        </li>
    </ul>

    <a href="#!/dashboard" class="btn btn-primary">Back to Dashboard</a>
</div>
